<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.CognitiveServices.Vision.ComputerVision" version="3.2.0" targetFramework="net461" />
  <package id="Microsoft.Azure.DocumentDB" version="2.1.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="5.0.2" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.12" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.13" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http.WinHttpHandler" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
</packages>